# Node.js
**/node_modules/
**/npm-debug.log*
**/.env

# Firebase Key
**/firebase-service-account.json

# Android Studio / Gradle
**/build/
**/.gradle/
**/.idea/
**/*.apk
**/local.properties
.navigation/
captures/
*.iml
.DS_Store
